
body { 
	width:100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

svg {
	width: 100%;
}

a {text-decoration: none;}


.hidden {display:none;}

.background {
	width: 100%;
	height:100%;
	background-image: url("../images/background.svg");
	position: absolute;
	background-position: bottom 0 right 0; 
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.wrapper {
	width: 92%;
	max-width: 1400px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* =========Header=========*/

.mainHeader {
	width: 100%;
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: flex-end;
	justify-content: space-between;
}

#logo {
	align-items: center;
	width: 50%;
}
/* =========Colours=========*/

.colorPicker {
	width: 35%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	flex-wrap: wrap;
}


.color{
	height: 80px;
	width: 120px;
	margin: 10px;
	text-align: center;
	line-height: 80px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	transition: text-shadow .2s ease-in-out;
}

.color:hover {
	cursor: pointer; 	
	text-shadow: 3px 3px 3px rgba(0,0,0, .5);
}


.pick1{
	color: #211830;
	background-color: #211830 ;
}

.pick2 {
	color: #FF71CE;
	background-color: #FF71CE ;
}


.pick3{
	color: #FFFB96;
	background-color: #FFFB96 ;
}

.pick4{
	color: #05FFA1;
	background-color: #05FFA1 ;
}

.pick5{
	color: #9D0FFD;
	background-color: #9D0FFD;
}

.pick6{
	color: #22EAE0;
	background-color: #22EAE0 ;
}


.divider {
	width: 100%;
	height: 10px;
	background-color: #211830; 
	opacity: 80%;
}


/* =========Drop Area=========*/

.dropCon {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: 400px;
	margin-bottom: 20px;
}

.mainMusic {
	/*background-image: url(../images/musicBG.svg)
	Background to make that has the tv static look */
	/*background-color: rgba(34, 234, 224, 0.8);cyan*/
	background-color: rgba(0, 0, 0, 0.8);
	width: 45%;
	height: 400px;
	margin: 10px 0;
	border-radius: 10px;
}

.dropZone {
	width: 52%;
	height: 380px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.dropItem {
	background-color: rgba(34, 234, 224, 0.8);/*cyan*/
	width: 30%;
	height: 190px;
	margin: 10px 0;
	border-radius: 10px;
	display: flex;
	justify-content: center;
}


.dropItem img {
	height: 100%;
}

/* =========Gallery=========*/

.info {
	font-family: 'Tahoma', Arial, sans-serif;
	font-weight: bold;
	font-size: 32px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	text-shadow: 3px 3px 3px rgba(0,0,0, .5);
	margin-bottom: 20px;
}

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 0 -20px -20px;  
}


.icon {
	background-color: rgba(0, 0, 0, 0.8);
	margin: 0 0 20px 10px; 
	width: 120px;
	height: 120px;
	text-align: center;
	border-radius: 10px;
	display:flex;
	justify-content: center;
	align-items: center;
}


.mainFooter {
	margin: 20px 10px 8px 0;
	font-weight: bold;
	text-align: right;
	color:#FF71CE;
}
















